---
name: NPM Publish

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC trusted publishing to NPM
  contents: write  # Required for adding the tarball to the GitHub release

jobs:
  publish-npm:
    name: Publish Node-RED package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: npm
      - name: npm Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Create npm package tarball
        run: |
          TGZ="$(npm pack)"
          echo "TGZ=$TGZ" >> $GITHUB_ENV
      - name: Upload tgz to GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
          TAG: ${{ github.event.release.tag_name }}
        run: |
          gh release upload "$TAG" "$TGZ" --clobber
      - name: npm Publish
        run: npm publish
      - name: Publish to Node-RED Library
        uses: Hacksore/node-red-flow@v2
        with:
          repo: node-red-contrib-google-smarthome
